@{
    ViewBag.Title = "Страница благодарности";
    string message = "Спасибо за бронирование! В ближайшие дни можете подойти к библиотеке ";
}

<h2>Запрос успешно отправлен</h2>
@message
<br />
<a class="btn btn-dark" href="/Home/ViewOrder" style="margin-top: 10px;">Вернуться назад</a> 