@{
    ViewData["Title"] = "Веб-сервис Библиотека";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на наш сервис!</h1>
    <br />
    <div class="row" style="font-size: 30px;"> 
        <div class="col" ><a href="/Home/Index"> Клиентский кабинет </a></div>
        <div class="col" ><a href="/Home/Login1"> Кабинет библиотекаря </a></div>
        <div class="col" ><a href="/Home/Login"> Кабинет админа </a></div>
    </div>
</div>
